<mat-toolbar color="primary">
  <span routerLink="/home" style="cursor: pointer;">Kosárlabda Bajnokság</span>

  <nav class="menu-items">
    <button mat-button
            routerLink="/home"
            [class.active]="activePage === 'home'">Kezdőlap</button>

    <button mat-button
            routerLink="/tabella"
            [class.active]="activePage === 'tabella'">Tabella</button>

    <button mat-button
            routerLink="/meccsnaptar"
            [class.active]="activePage === 'meccsnaptar'">Mérkőzések</button>

    <button mat-button
            routerLink="/jatekoslistazas"
            [class.active]="activePage === 'jatekoslistazas'">Játékosok</button>

    <button mat-button
            routerLink="/csapatlistazas"
            [class.active]="activePage === 'csapatlistazas'">Csapatok</button>

    <button mat-button
            *ngIf="isLoggedIn"  
            routerLink="/admin"
            [class.active]="activePage === 'admin'">Admin</button>

    <button mat-button
            *ngIf="isLoggedIn"  
            routerLink="/ujfelhasznalo"
            [class.active]="activePage === 'ujfelhasznalo'">Új felhasználó</button>

    <button mat-button
            *ngIf="!isLoggedIn" 
            routerLink="/login"
            [class.active]="activePage === 'login'">Bejelentkezés</button>

    <button mat-button
            *ngIf="isLoggedIn"
            (click)="onLogoutClick()">Kijelentkezés</button>
  </nav>
</mat-toolbar>