<mat-toolbar color="primary">
  <span>Kosárlabda Bajnokság</span>

  <nav class="menu-items">
    <button mat-button
            (click)="menuSwitch('home')"
            [class.active]="activePage === 'home'">Kezdőlap</button>

    <button mat-button
            (click)="menuSwitch('tabella')"
            [class.active]="activePage === 'tabella'">Tabella</button>

    <button mat-button
            (click)="menuSwitch('meccsnaptar')"
            [class.active]="activePage === 'meccsnaptar'">Mérkőzések</button>

    <button mat-button
            (click)="menuSwitch('jatekoslistazas')"
            [class.active]="activePage === 'jatekoslistazas'">Játékosok</button>

    <button mat-button
            (click)="menuSwitch('csapatlistazas')"
            [class.active]="activePage === 'csapatlistazas'">Csapatok</button>

    <button mat-button
            *ngIf="isLoggedIn"  
            (click)="menuSwitch('admin')"
            [class.active]="activePage === 'admin'">Admin</button>

    <button mat-button
            *ngIf="isLoggedIn"  
            (click)="menuSwitch('ujfelhasznalo')"
            [class.active]="activePage === 'ujfelhasznalo'">Új felhasználó</button>

    <button mat-button
            *ngIf="!isLoggedIn" 
            (click)="menuSwitch('login')"
            [class.active]="activePage === 'login'">Bejelentkezés</button>

  </nav>
</mat-toolbar>
